html, body {
	background: #ABE7E9; /* Beccapurple */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(131, 142, 138);
}
body {
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 100%;
	width: 58%;
	margin-right: auto;
	margin-left: auto;
	padding: 1.5% 2.5% 0;
	background: #FFFFFF;
	line-height: 1.5;
}
h1 {
	font: 1.8em "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin-bottom: .4em;
	color: rgb(131, 142, 138);
}
h2 {
	font: 1.2em "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin-bottom: .2em;
}
h3 {
	font: 1.2em 	font: 1.2em "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

    font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}

#p1 {
	margin-bottom: 0.6em;
    font-style: italic 
}


a {
	color: rgb(142, 112, 88);
}
a:hover {
	color: rgb(120, 97, 55);
}

pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}

footer {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 9m;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}

